body {
    background-image: url(../img/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "vt323", monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}



#cartao {
    background-color: #070b12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    

}

.aba img {
    width: 30px;

}

.informacao .redes-sociais {
    
}